@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

* {
  box-sizing: border-box;
}

.history {
  position: relative;
  margin: 20px;
}
.history:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.history-event {
  width: 325px;
  position: relative;
}
.history-event:hover .history-icon {
  background-image: linear-gradient(90deg, #FFEF7E, #B7F9E9);
  transform: rotate(180deg);
}
.history-event:hover .history-date {
  box-shadow: inset 12em 0 0 0 #B7F9E9;
  color: black;
}

.history-info {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 3em;
  width: 10%;
  font-size: 1.25em;
}

.history-icon {
  top: 0;
  left: 2em;
  transition: transform 0.3s ease-in;
  transform: rotate(-45deg);
  background-color: white;
  outline: 8px solid black;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  width: 1em;
  height: 1em;
}

.history-date {
  background-color: black;
  color: white;
  display: inline-block;
  
  font-size: 0.80em;
  margin-bottom: 1.0em;
  padding: 0.25em 3em 0.2em 3em;
  
  transition: color 0.5s, box-shadow 0.3s ease-in 0.1s;
  box-shadow: inset 0 0 0 0em grey;
  
  cursor: pointer;
}



