:root {
    --surface-color: white;
    --curve: 20;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .minicard {
    position: relative;
    display: block;
    border-radius: calc(var(--curve) * 1.25px);
    overflow: hidden;
  }
  
  .minicard-wrapper {
    position: absolute;

    border-radius: calc(var(--curve) * 1.25px);    
    background-color: var(--surface-color);   

    bottom: 0px;
    left: 0px;
    right: 0px;   
    
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
 
  
  .minicard-info {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.1em;
    padding: 1em;
    border-radius: calc(var(--curve) * 1.25px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .minicard-corner {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 100%;
    right: 0px;      
  }

  .minicard:hover .minicard-wrapper {
    transform: translateY(0);
  }
  
  .minicard:hover .minicard-info {
    transform: translateY(0);
  }


  
 




  