:root {
    --search-button-color: black;
  }

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
}

.search-container{
    margin-bottom: 10px;
    position: relative;
}

.search-input{
    box-sizing: border-box;
    border-style: none;
    outline: none;

    height: 50px;
    width: 50px;

    padding: 15px;
    font-size: 20px;
    
    letter-spacing: 1px;
    border-radius: 222px;

    transition: all .5s ease-in-out;
    background: var(--search-button-color);
    color:var(--search-button-color);
}

.search-input::placeholder{
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 50;
}

.search-input:focus{
    width: 350px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px solid black;
    transition: all 500ms cubic-bezier(0, 0.5, 0.5, 2   );
}

.search-button{
    position: absolute;
    box-sizing: border-box;
    border-style: none;

    width: 50px;
    height: 50px;
    right: 0px;

    font-size: 18px;
    

    border-radius: 50%;
    
    color:white ;
    background-color:transparent;
    cursor: pointer;
}

.search-button:focus ~ .search-input{
    width: 350px;
    border-radius: 1px;
    background-color: transparent;
    border-bottom: 1.5px solid black;
    transition: all 500ms cubic-bezier(0, 0.5, 0.5, 2   );
}
  
  
 
